{{ define "main" }}

<section class="site-blog details">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <article class="site-blog-details">
          <div class="text-center">
<!--             <p> <span>{{ .PublishDate.Format "January 2, 2006" }}</span> by  <span>{{ .Params.author }}</span></p> -->
            <h1 class="blog-title">{{ .Title }}</h1>
            <img style="margin: 0 auto;" class="pt-4 pb-5 feature-image img-fluid" src="{{ .Params.image | absURL }}" alt="blog-feature-image">
          </div>
          {{ .Content }}
        </article>
      </div>
    </div>
  </div>
</section>

{{ partial "call-to-action.html" . }}

{{ end }}