{{ with .Site.Params.platforms }}
  {{ if .enable }}
  <section class="site-project" id="project">
    <div class="container">                
      <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8">      
          <div class="py-5 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GgmMr3ooy9s" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-lg-2">
        </div>        
        <div class="col-12">
          <div class="pt-5 section-title">
            <h2>{{ .title }}</h2>
            <p>{{ .subtitle }}</p>
          </div>
        </div>
        {{ range first 4 (where $.Site.RegularPages "Type" "platform") }}
        <div class="col-lg-6 col-md-10 mx-auto">
          <div class="site-project-item">
            <a href="{{ .Params.Link }}" class="read-more">
              <img data-sal="slide-right" src="{{ .Params.Image | absURL }}" alt="project-thumb" class="img-fluid zoom-xs">
            </a>
            <div class="p-4">
              <span>{{ delimit .Params.category ", " }}</span>
              <h3>{{ .Title }}</h3></a>              
            </div>

            <!-- <div class="site-project-item-thumb">

            /div>
            <div class="site-project-item-content">

            </div> -->
          </div>
        </div>
        {{ end }}
<!--         <div class="col-12 text-center text-lg-left">
          <a href="portfolio" class="site-project-cta">MORE WORKS</a>
        </div> -->
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}